@charset "utf-8";
/* CSS Document */

* {
    padding:0;
    margin:0;
}

html {
    font-size: 63%;
}
body {
    font-family: 'Microsoft YaHei', arial, sans-serif;
    font-size: 1.2em;
    background-color: #FDFDFD;
}
table {
    border-collapse:collapse;
}
input, textarea {
    background: #fff;
}
input[type=text], input[type=password] {
    transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    border:1px solid #C3D9FF;
    border-radius: 3px;
    outline: none;
}
input[type=text]:focus,input[type=password]:focus{
    border:1px solid black;
    box-shadow:0 0 5px rgba(103,166,217,1);
    -moz-box-shadow:0 0 5px rgba(103,166,217,1);
    -webkit-box-shadow:0 0 5px rgba(103,166,217,1);
    -o-box-shadow:0 0 5px rgba(103,166,217,1);
}

.body_navi {
    padding: 5px;
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
    color: black;
    background-color:#FFE88E;
    border-bottom: solid 1px #F3AD47;
}
.body_toolbar {
    padding: 5px;
}
.body_toolbar_item {
    margin-right: 3px;
}
.toolbar_divider {
    display: block;
    float: left;
    width: 12px;
    height: 22px;
    background: transparent url('../img/icon/toolbar_divider.gif') no-repeat center;
}

.workspace {
    margin-top: 10px;
    padding: 5px;
    clear: both;
    float: left;
}

.workspace table, th, td{
    border-collapse:collapse;
    border: solid 1px black;
}

.workspace td {
    height: 22px;
    padding: 1px 3px;
}
