@charset "utf-8";
/* CSS Document */



/* button default css*/
.btn_base     {
    display:block;
    float:left;
    font-size: 12px;
    padding: 3px 5px;
    color: black;
    border: solid 1px #CCCCCC;
    cursor: default;
    border-radius: 2px;
    background: #FEFEFE;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EDEDED');
    background: -moz-linear-gradient(top, #FEFEFE, #EDEDED);
    background: -webkit-gradient(linear,top,from(#FEFEFE),to(#EDEDED));
    background: -webkit-linear-gradient(top, #FEFEFE, #EDEDED);
    background: -o-linear-gradient(top, #FEFEFE, #EDEDED);
}
.btn_normal   {
    color: black;
    border: solid 1px #CCCCCC;
    background: #FEFEFE;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EDEDED');
    background: -moz-linear-gradient(top, #FEFEFE, #EDEDED);
    background: -webkit-gradient(linear,top,from(#FEFEFE),to(#EDEDED));
    background: -webkit-linear-gradient(top, #FEFEFE, #EDEDED);
    background: -o-linear-gradient(top, #FEFEFE, #EDEDED);
}
.btn_hover    {
    border: solid 1px #666666;
}
.btn_disabled {
    color: #888888;
}
.btn_checked  {
    color: #888888;
    background: #FFFFFF;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF');
}

.btn_toolbar{
    display: block;
    float: left;
    margin-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.1em;
    text-align: left;
    font-weight: bold;
    width: 66px;
    border: 0;
}

.btn_toolbar_normal {
    background: transparent;
}
.btn_toolbar_hover {
    cursor: default;
    background: #7F2711;
}
.btn_toolbar_checked {
    background-color: white;
    font-weight: bold;
    cursor: default;
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1FAFA', endColorstr='#FDFDFD');
    background: -moz-linear-gradient(top, #F1FAFA, #FDFDFD);
    background: -webkit-gradient(linear,top,from(#F1FAFA),to(#FDFDFD));
    background: -webkit-linear-gradient(top, #F1FAFA, #FDFDFD);
    background: -o-linear-gradient(top, #F1FAFA, #FDFDFD);
}

.btn_item {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 3px;
    width: 16px;
    height: 16px;
}

.btn_item_normal {
    background: transparent;
}
.btn_item_hover {
    cursor: default;
    background: #DDD;
}

.btn_red     {
    display:block;
    float:left;
    font-size: 12px;
    padding: 3px 5px;
    color: white;
    border: 0;
    cursor: default;
    border-radius: 2px;
    background: #E12728;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E12728', endColorstr='#C70E0C');
    background: -moz-linear-gradient(top, #E12728, #C70E0C);
    background: -webkit-gradient(linear,top,from(#E12728),to(#C70E0C));
    background: -webkit-linear-gradient(top, #E12728, #C70E0C);
    background: -o-linear-gradient(top, #E12728, #C70E0C);
}
.btn_red_normal   {
    color: white;
    border: 0;
    background: #E92F34;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E92F34', endColorstr='#C70E0C');
    background: -moz-linear-gradient(top, #E92F34, #C70E0C);
    background: -webkit-gradient(linear,top,from(#E92F34),to(#C70E0C));
    background: -webkit-linear-gradient(top, #E92F34, #C70E0C);
    background: -o-linear-gradient(top, #E92F34, #C70E0C);
}
.btn_red_hover    {
    border: 0;
    background: #F35E5A;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F35E5A', endColorstr='#C70E0C');
    background: -moz-linear-gradient(top, #F35E5A, #C70E0C);
    background: -webkit-gradient(linear,top,from(#F35E5A),to(#C70E0C));
    background: -webkit-linear-gradient(top, #F35E5A, #C70E0C);
    background: -o-linear-gradient(top, #F35E5A, #C70E0C);
}